{
  "openapi": "3.1.0",
  "info": {
    "title": "TheCarApi — Public API",
    "version": "2026-08-19",
    "summary": "Multi-source vehicle auction inventory API",
    "description": "Normalized vehicle auction inventory from Auto1, OpenLane, Schadeautos, Copart Germany,\neCarsTrade, Encar and the Japanese auction houses, plus a European retail classifieds network.\n\nA vehicle is addressed by the pair site_name + auction_id_str, for example encar/38112900.\nPrimary envelopes carry contract_version, request_id, server_time and data_updated_at; a handful of routes omit those.\nPrice fields are JSON numbers, never strings.\n\nFull documentation: https://thecarapi.com/docs",
    "contact": {
      "name": "TheCarApi API support",
      "email": "api@thecarapi.com",
      "url": "https://thecarapi.com/contact"
    },
    "termsOfService": "https://thecarapi.com/terms"
  },
  "servers": [
    {
      "url": "https://api.thecarapi.com",
      "description": "Production"
    }
  ],
  "externalDocs": {
    "description": "API reference",
    "url": "https://thecarapi.com/docs"
  },
  "tags": [
    {
      "name": "Search & discovery",
      "description": "Search live auction inventory, then resolve lightweight full-text matches. Ended lots are hidden by default; is_active=false / include_ended=true shows them as well as live ones.",
      "externalDocs": {
        "url": "https://thecarapi.com/docs/search"
      }
    },
    {
      "name": "Filter facets",
      "description": "Discover live filter values and counts. Every facet endpoint accepts the search filters, so a facet describes whatever slice of inventory you are looking at rather than the whole of it — each dimension ignoring only its own filter, so a user can switch brands without the option disappearing. Counts and the totals /api/search reports for the same filters cannot disagree. Facet responses cache for about 600 seconds, and a filter sidebar can read every flat dimension in one call with /api/facets.",
      "externalDocs": {
        "url": "https://thecarapi.com/docs/facets"
      }
    },
    {
      "name": "Catalog",
      "description": "Build slug-addressable manufacturer and model-group navigation. All catalog list routes paginate with a default limit of 50 and are capped at offset 5000 — a deeper page is a 400 naming the limit. They carry page, page_size and max_page.",
      "externalDocs": {
        "url": "https://thecarapi.com/docs/catalog"
      }
    },
    {
      "name": "SEO helpers",
      "description": "Build popular landing pages and resolve brand/model URL slugs.",
      "externalDocs": {
        "url": "https://thecarapi.com/docs/seo"
      }
    },
    {
      "name": "Auctions & history",
      "description": "Retrieve source-aware listing detail, galleries, price changes, and VIN history. A running openlane or ecarstrade auction has its bid read from the auction house at the moment you request the detail — nothing needs to be passed to enable it. Every other listing is served at its cycle price, refreshed at least every twelve hours.",
      "externalDocs": {
        "url": "https://thecarapi.com/docs/auctions"
      }
    },
    {
      "name": "Vehicle details",
      "description": "Fetch a full source payload from cache or, when needed, from the upstream source.",
      "externalDocs": {
        "url": "https://thecarapi.com/docs/car-details"
      }
    },
    {
      "name": "Top offers",
      "description": "Live auctions our pipeline judged to be priced below their market reference. Same deals as /api/search?sort=top_offers, but each card additionally carries the reference the verdict was made against.",
      "externalDocs": {
        "url": "https://thecarapi.com/docs/top-offers"
      }
    },
    {
      "name": "European classifieds",
      "description": "A retail price surface of roughly 9.8M live listings gathered from 681 origin portals — national classifieds sites, dealer groups and manufacturer stock pages — across 39 European countries: mobile.de, kleinanzeigen.de, autoscout24, leboncoin.fr, lacentrale.fr, autosupermarket.it, njuskalo.hr and hundreds more. Every listing keeps its origin portal in source_site, so the same feed answers a national question and a portal-level one. These are retail listings, not auction inventory: no bidding, no auction end date, no detail payload and no gallery, just a single remote thumbnail per listing. They live in their own tables with their own vocabulary (seller type, origin portal), which is why they get their own query surface instead of a site slug on /api/search. Ended and paid-placement (\"promoted\") rows are excluded from every response, and all three endpoints return 503 while the dataset has not been built yet. Scope: theparking — that is the scope name in the path, not the name of a source.",
      "externalDocs": {
        "url": "https://thecarapi.com/docs/theparking"
      }
    },
    {
      "name": "Market intelligence",
      "description": "Precomputed price snapshots for a brand, model, and year window — one for the Bulgarian retail market, one for our own auction inventory. Scope: market. Neither is enabled on a new key by default; ask for them. Both are read-only lookups into snapshots built by a pipeline on its own schedule. A 404 therefore means \"no snapshot exists for that window\", which is the normal answer for a thin brand/model/year combination — not an error to retry. Neither route carries envelope metadata; read X-Request-ID from the header.",
      "externalDocs": {
        "url": "https://thecarapi.com/docs/market"
      }
    },
    {
      "name": "Import calculator",
      "description": "Estimate the landed cost of importing a vehicle. These are estimates, not a binding quote.",
      "externalDocs": {
        "url": "https://thecarapi.com/docs/calculator"
      }
    },
    {
      "name": "Health & contract",
      "description": "Check service dependencies and inspect the API index.",
      "externalDocs": {
        "url": "https://thecarapi.com/docs/ops"
      }
    }
  ],
  "paths": {
    "/api/search": {
      "get": {
        "operationId": "get_api_search",
        "summary": "Primary filtered search over live auction inventory.",
        "description": "Primary filtered search over live auction inventory.\n\nsite accepts auto1, japanauction (the Japanese auction houses), copart, ecarstrade, encar, openlane or schadeautos — the European classifieds network is not a site value. Both site and site_exclude take a comma-separated, case-insensitive list; an unknown slug on either is a 400 naming the offender, and passing both narrows the include list by the exclusion. There is no offset cap: filtered or not, max_page equals total_pages. A very deep filtered search is answered from a compact index where it can be; where it cannot, it is subject to the safety timeout and may come back 503 asking you to narrow it. Pages past offset 5000 are not cached.\n\nResponse fields — results[] (object[]): Search result cards. The full allowlisted field set is in the data dictionary; fields are present when the source provides them. Address a car by auction_id_str, not auction_id — japanauction ids exceed 2^53, so a client parsing JSON numbers as doubles silently rounds the numeric one. results[].images (object[]): At most the first 8 display-ordered gallery entries, primary first. This is a card preview, never the full gallery — read vault_gallery on the detail response or /api/auction-images/{site}/{id} for everything. total (integer | null): Total matching rows, counting the same lots the pages return — so paging to total_pages does not run into short or empty pages. Null when include_total=false or totals are suppressed. limit / offset (integer): The window that was actually applied, echoed back. On a count_only=true response both are 0. page / page_size / total_pages / max_page (integer | null): The same window in page terms, plus total pages and the deepest reachable page. All four are null on a count_only response, which has no pages to describe. max_page equals total_pages here — /api/search has no offset cap. count_only (boolean): Echoes the parameter. On true the rows are omitted and only total remains. secret_mode (boolean): Legacy field, always false. Ignore it. contract_version (string): Schema contract the response was built against. request_id / server_time / data_updated_at (string): Correlation id (also X-Request-ID), response time, and when the underlying data was last refreshed.",
        "tags": [
          "Search & discovery"
        ],
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scope": "search",
        "x-examples": [
          "GET https://api.thecarapi.com/api/search?brand=bmw&fuel=Diesel&year_from=2018&sort=price_low&limit=24",
          "GET https://api.thecarapi.com/api/search?site=encar&country=KR&buy_now=true&page=2&page_size=20"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Free-text brand, model, or keyword query. Value comes from: Free text entered by your user.",
            "schema": {
              "type": "string"
            },
            "example": "BMW 320d"
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs, OR within the parameter. Case-insensitive. An unknown slug is a 400 naming the offender — one bad member rejects the whole list. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "encar"
          },
          {
            "name": "site_exclude",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to leave out. Sent alongside site, it narrows the include list; excluding everything you included is a 400, not an empty page. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "copart"
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Brand display name, slug, or brand_id — all three select the same inventory. Matched on the brand identity rather than the published spelling, so sources that write it differently (openlane publishes \"Volkswagen\" where others write \"VW\") are all included. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Model name or slug. Value comes from: /api/models?brand=bmw -> models[].slug",
            "schema": {
              "type": "string"
            },
            "example": "320d"
          },
          {
            "name": "year_from",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "year_to",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "fuel",
            "in": "query",
            "required": false,
            "description": "Canonical fuel group, matched whole. Hybrid, Mild Hybrid and Plug-in Hybrid are three separate groups — fuel=Hybrid returns full hybrids only. A lot with no recorded fuel matches every fuel filter rather than none, so it stays reachable. Value comes from: /api/fuels -> fuels[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "gearbox",
            "in": "query",
            "required": false,
            "description": "Canonical gearbox group, matched whole. Same unknown-matches-all rule as fuel: a car with no recorded gearbox answers every gearbox filter. Value comes from: /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Automatic"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or europe. Value comes from: /api/countries -> country_details[].code",
            "schema": {
              "type": "string"
            },
            "example": "DE"
          },
          {
            "name": "vehicle_type",
            "in": "query",
            "required": false,
            "description": "cars or suvs & trucks. Value comes from: Choose from the documented vehicle_type enum.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "body_style",
            "in": "query",
            "required": false,
            "description": "Body-style filter. Value comes from: Your application's normalized body-style value.",
            "schema": {
              "type": "string"
            },
            "example": "sedan"
          },
          {
            "name": "steering",
            "in": "query",
            "required": false,
            "description": "Left- or right-hand drive. The parameter takes two values, each with four equivalent spellings. Every listing resolves to one side or the other, so the two values partition the inventory and their counts sum to the unfiltered total. Value comes from: left | lhd | left-hand | left_hand, or right | rhd | right-hand | right_hand — any other value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "left"
          },
          {
            "name": "kilometers_from",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage range chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "kilometers_to",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage range chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "horsepower_from",
            "in": "query",
            "required": false,
            "description": "Horsepower range. Value comes from: Horsepower range chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "horsepower_to",
            "in": "query",
            "required": false,
            "description": "Horsepower range. Value comes from: Horsepower range chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "price_from",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "10000"
          },
          {
            "name": "price_to",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "10000"
          },
          {
            "name": "damaged",
            "in": "query",
            "required": false,
            "description": "Return damaged or broken vehicles only. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "buy_now",
            "in": "query",
            "required": false,
            "description": "Return Buy-Now listings only. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "ending_soon",
            "in": "query",
            "required": false,
            "description": "Return auctions ending within about two hours. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "smart_filter",
            "in": "query",
            "required": false,
            "description": "top_offers, low_mileage, or best_value. Value comes from: Choose from the documented smart_filter enum.",
            "schema": {
              "type": "string"
            },
            "example": "best_value"
          },
          {
            "name": "is_active",
            "in": "query",
            "required": false,
            "description": "Default true: lots whose auction has closed are hidden. false shows closed lots in addition to live ones — it does not return only ended lots, and it is not a filter on the is_active response field. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "include_ended",
            "in": "query",
            "required": false,
            "description": "The same switch inverted: include_ended=true equals is_active=false. Default false. If both are sent, include_ended wins. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort value from the data dictionary. Default default — photo-first, then newest. The retired random value is still accepted and is served as default. Value comes from: Choose from the documented Sort enum.",
            "schema": {
              "type": "string"
            },
            "example": "price_low"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size, maximum 100. Default 100. Value comes from: Page size chosen by your application.",
            "schema": {
              "type": "integer"
            },
            "example": "24"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Page size, maximum 100. Default 100. Value comes from: Page size chosen by your application.",
            "schema": {
              "type": "integer"
            },
            "example": "24"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset-based or page-based pagination. Value comes from: Current page state in your application.",
            "schema": {
              "type": "integer"
            },
            "example": "24"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Offset-based or page-based pagination. Value comes from: Current page state in your application.",
            "schema": {
              "type": "integer"
            },
            "example": "24"
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "description": "Set false to skip the count. Default true. Value comes from: Your performance/display choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "count_only",
            "in": "query",
            "required": false,
            "description": "Return counts without result rows. Value comes from: Your response-mode choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "results": [
                    {
                      "auction_id": 38112900,
                      "site_name": "encar",
                      "clean_make": "BMW",
                      "clean_model": "320d",
                      "registration_year": 2020,
                      "mileage": 45000,
                      "public_price_eur": 21500,
                      "thumbnail_url": "https://cdn.example/photo.webp"
                    }
                  ],
                  "total": 18342,
                  "limit": 24,
                  "offset": 0,
                  "count_only": false,
                  "page": 1,
                  "page_size": 24,
                  "total_pages": 764,
                  "max_page": 764,
                  "secret_mode": false,
                  "contract_version": "2026-08-19"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/search/auction-ids": {
      "get": {
        "operationId": "get_api_search_auction_ids",
        "summary": "Resolve a free-text query to matching auction ids only.",
        "description": "Resolve a free-text query to matching auction ids only.\n\nNot enabled on a new key by default — ask for it. Three answers are possible: 200 with an empty list when full-text search is switched off or q is empty; 503 with success: false and an empty list when full-text search is enabled but unreachable; 500 with success: false and an empty list for anything else. An empty list on a 200 genuinely means \"no matches\" only when you already know the feature is on. Treat success: false as \"unknown\", never as \"zero\". This response carries no envelope metadata — read X-Request-ID from the header.\n\nResponse fields — auction_ids (integer[]): Bare auction_id values with no source attached. An id is only unambiguous if it happens to be unique across sources — which is exactly what /api/auction/{site}/{id} needs a site for. Use this as a filter, not as an addressing scheme; hydrate through /api/search?search= instead, which returns whole cards carrying site_name and auction_id_str. found (integer): Length of auction_ids. The whole match set is returned, capped at 10,000 ids — there is no paging.",
        "tags": [
          "Search & discovery"
        ],
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scope": "search",
        "x-examples": [
          "GET https://api.thecarapi.com/api/search/auction-ids?q=bmw%20320d",
          "GET https://api.thecarapi.com/api/search/auction-ids?q=kia%20ev6"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text query. An empty or missing query returns an empty list, not a 400. Value comes from: Free text entered by your user.",
            "schema": {
              "type": "string"
            },
            "example": "bmw 320d touring"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "auction_ids": [
                    38112900,
                    11409652
                  ],
                  "found": 2
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/facets": {
      "get": {
        "operationId": "get_api_facets",
        "summary": "Every flat facet dimension in one request instead of six.",
        "description": "Every flat facet dimension in one request instead of six.\n\nEvery filter accepted by the individual facet endpoints applies here, per field, exactly as its own endpoint would apply it — including the cross-filtering, so ?price_to=5000&fields=brands returns each brand count under EUR 5,000 and value lists omit options with no matches left. is_active and include_ended are not accepted: facets always describe lots whose auction is still open. The per-dimension endpoints below are unchanged and stay fully supported — this is an additional way to read the same data. Scope search, the same scope that already grants them, and the fan-out bills one quota unit rather than six.\n\nResponse fields — brands / years / fuels / countries / gearboxes / sites (array): Each field is its own endpoint’s payload merged verbatim — countries still ships country_details alongside it, and no field gains or loses counts by being requested here. errors (object): Present only when a dimension could not be served: { field: reason }. Every other field is still returned, so one slow dimension cannot blank a filter sidebar.",
        "tags": [
          "Filter facets"
        ],
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scope": "search",
        "x-examples": [
          "GET https://api.thecarapi.com/api/facets?fields=brands,fuels,gearboxes&country=DE",
          "GET https://api.thecarapi.com/api/facets?fields=brands,years,sites&damaged=true"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated subset of brands, years, fuels, countries, gearboxes, sites. Defaults to all of them. models is not available here — it is brand-scoped and stays at /api/models. Value comes from: The dimensions your sidebar actually renders.",
            "schema": {
              "type": "string"
            },
            "example": "brands,fuels,gearboxes"
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "year_from",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "year_to",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "fuel",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "gearbox",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or europe. Accepted and ignored by /api/sites and /load-models. Value comes from: /api/countries -> country_details[].code",
            "schema": {
              "type": "string"
            },
            "example": "DE"
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "site_exclude",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "kilometers_from",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "kilometers_to",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "horsepower_from",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "horsepower_to",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "price_from",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "price_to",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "vehicle_type",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "body_style",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "steering",
            "in": "query",
            "required": false,
            "description": "Restrict to left- or right-hand-drive vehicles. Slower than an unfiltered facet call, because it is computed live rather than read from the precomputed facet table. Value comes from: left | lhd | left-hand | left_hand, or right | rhd | right-hand | right_hand — any other value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "left"
          },
          {
            "name": "damaged",
            "in": "query",
            "required": false,
            "description": "Restrict to damaged or broken vehicles. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "buy_now",
            "in": "query",
            "required": false,
            "description": "Restrict to Buy-Now inventory. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "ending_soon",
            "in": "query",
            "required": false,
            "description": "Restrict to lots ending within about two hours. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "brands": [
                    {
                      "id": 12,
                      "name": "BMW",
                      "slug": "bmw",
                      "count": 3266
                    }
                  ],
                  "fuels": [
                    "Diesel",
                    "Petrol"
                  ],
                  "gearboxes": [
                    "Automatic",
                    "Manual"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/brands": {
      "get": {
        "operationId": "get_api_brands",
        "summary": "List brands with round-trippable slugs and live inventory counts.",
        "description": "List brands with round-trippable slugs and live inventory counts.\n\nThe slug round-trips: send it back as ?brand=<slug> to /api/search or /api/models. Each brand appears once, keyed on its identity rather than on the spelling a source happened to use, and its count is the whole count for that brand — never a per-spelling fraction of it. The list is safe to render straight into a dropdown without de-duplicating.",
        "tags": [
          "Filter facets"
        ],
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scope": "search",
        "x-examples": [
          "GET https://api.thecarapi.com/api/brands?search=bm&ordering=-count&limit=20",
          "GET https://api.thecarapi.com/api/brands?country=DE&damaged=true"
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "year_from",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "year_to",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "fuel",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "gearbox",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or europe. Accepted and ignored by /api/sites and /load-models. Value comes from: /api/countries -> country_details[].code",
            "schema": {
              "type": "string"
            },
            "example": "DE"
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "site_exclude",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "kilometers_from",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "kilometers_to",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "horsepower_from",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "horsepower_to",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "price_from",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "price_to",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "vehicle_type",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "body_style",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "steering",
            "in": "query",
            "required": false,
            "description": "Restrict to left- or right-hand-drive vehicles. Slower than an unfiltered facet call, because it is computed live rather than read from the precomputed facet table. Value comes from: left | lhd | left-hand | left_hand, or right | rhd | right-hand | right_hand — any other value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "left"
          },
          {
            "name": "damaged",
            "in": "query",
            "required": false,
            "description": "Restrict to damaged or broken vehicles. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "buy_now",
            "in": "query",
            "required": false,
            "description": "Restrict to Buy-Now inventory. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "ending_soon",
            "in": "query",
            "required": false,
            "description": "Restrict to lots ending within about two hours. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Substring filter on brand name. Value comes from: Free text entered by your user.",
            "schema": {
              "type": "string"
            },
            "example": "bm"
          },
          {
            "name": "ordering",
            "in": "query",
            "required": false,
            "description": "name, -name, count, or -count. An unrecognised value falls back to name rather than erroring. Value comes from: Choose name, -name, count, or -count.",
            "schema": {
              "type": "string"
            },
            "example": "-count"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of values. No default — the full brand list is returned unless you cap it, which is what a filter sidebar wants. Value comes from: Result count chosen by your application.",
            "schema": {
              "type": "integer"
            },
            "example": "20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "brands": [
                    {
                      "id": 12,
                      "name": "BMW",
                      "slug": "bmw",
                      "count": 1543
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/models": {
      "get": {
        "operationId": "get_api_models",
        "summary": "List models for one brand with live inventory counts.",
        "description": "List models for one brand with live inventory counts.\n\nbrand is required — calling without it returns 400. Each model appears once, merged on the model identity rather than its printed label, so a model spelled \"GOLF\" by one source and \"Golf\" by another is one row carrying the whole count.",
        "tags": [
          "Filter facets"
        ],
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scope": "search",
        "x-examples": [
          "GET https://api.thecarapi.com/api/models?brand=bmw&ordering=-count",
          "GET https://api.thecarapi.com/api/models?brand=12&search=x&country=DE"
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": true,
            "description": "Brand name, slug, or brand_id. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "year_from",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "year_to",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "fuel",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "gearbox",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or europe. Accepted and ignored by /api/sites and /load-models. Value comes from: /api/countries -> country_details[].code",
            "schema": {
              "type": "string"
            },
            "example": "DE"
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "site_exclude",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "kilometers_from",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "kilometers_to",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "horsepower_from",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "horsepower_to",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "price_from",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "price_to",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "vehicle_type",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "body_style",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "steering",
            "in": "query",
            "required": false,
            "description": "Restrict to left- or right-hand-drive vehicles. Slower than an unfiltered facet call, because it is computed live rather than read from the precomputed facet table. Value comes from: left | lhd | left-hand | left_hand, or right | rhd | right-hand | right_hand — any other value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "left"
          },
          {
            "name": "damaged",
            "in": "query",
            "required": false,
            "description": "Restrict to damaged or broken vehicles. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "buy_now",
            "in": "query",
            "required": false,
            "description": "Restrict to Buy-Now inventory. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "ending_soon",
            "in": "query",
            "required": false,
            "description": "Restrict to lots ending within about two hours. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Substring filter on model name. Value comes from: Free text entered by your user.",
            "schema": {
              "type": "string"
            },
            "example": "x"
          },
          {
            "name": "ordering",
            "in": "query",
            "required": false,
            "description": "name, -name, count, or -count. An unrecognised value falls back to name rather than erroring. Value comes from: Choose name, -name, count, or -count.",
            "schema": {
              "type": "string"
            },
            "example": "-count"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of values. No default — the full model list for the brand is returned unless you cap it. Value comes from: Result count chosen by your application.",
            "schema": {
              "type": "integer"
            },
            "example": "20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "models": [
                    {
                      "name": "320d",
                      "slug": "320d",
                      "count": 210
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/years": {
      "get": {
        "operationId": "get_api_years",
        "summary": "List registration years available in current inventory.",
        "description": "List registration years available in current inventory.\n\nResponse fields — years (integer[]): Registration years present in the filtered inventory, newest first. year_counts ({value, count}[]): Mirrors years in the same order. Each count is the offers for that registration year under the request other filters.",
        "tags": [
          "Filter facets"
        ],
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scope": "search",
        "x-examples": [
          "GET https://api.thecarapi.com/api/years?country=DE",
          "GET https://api.thecarapi.com/api/years?damaged=true&buy_now=true"
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "year_from",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "year_to",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "fuel",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "gearbox",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or europe. Accepted and ignored by /api/sites and /load-models. Value comes from: /api/countries -> country_details[].code",
            "schema": {
              "type": "string"
            },
            "example": "DE"
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "site_exclude",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "kilometers_from",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "kilometers_to",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "horsepower_from",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "horsepower_to",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "price_from",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "price_to",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "vehicle_type",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "body_style",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "steering",
            "in": "query",
            "required": false,
            "description": "Restrict to left- or right-hand-drive vehicles. Slower than an unfiltered facet call, because it is computed live rather than read from the precomputed facet table. Value comes from: left | lhd | left-hand | left_hand, or right | rhd | right-hand | right_hand — any other value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "left"
          },
          {
            "name": "damaged",
            "in": "query",
            "required": false,
            "description": "Restrict to damaged or broken vehicles. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "buy_now",
            "in": "query",
            "required": false,
            "description": "Restrict to Buy-Now inventory. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "ending_soon",
            "in": "query",
            "required": false,
            "description": "Restrict to lots ending within about two hours. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "years": [
                    2024,
                    2023,
                    2022,
                    2021
                  ],
                  "year_counts": [
                    {
                      "value": 2024,
                      "count": 512
                    },
                    {
                      "value": 2023,
                      "count": 4127
                    },
                    {
                      "value": 2022,
                      "count": 3890
                    },
                    {
                      "value": 2021,
                      "count": 3544
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/fuels": {
      "get": {
        "operationId": "get_api_fuels",
        "summary": "List canonical fuel groups available in current inventory.",
        "description": "List canonical fuel groups available in current inventory.\n\nSix groups, and the three hybrid kinds are distinct: Hybrid (full hybrid), Mild Hybrid (48V assist, cannot drive on the motor alone) and Plug-in Hybrid. The fuel filter matches a group whole, so fuel=Hybrid returns full hybrids only. To catch every electrified car, send all three.\n\nResponse fields — fuels (string[]): Canonical fuel groups present in the filtered inventory, alphabetical. fuel_counts ({value, count}[]): Mirrors fuels in the same order.",
        "tags": [
          "Filter facets"
        ],
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scope": "search",
        "x-examples": [
          "GET https://api.thecarapi.com/api/fuels?country=DE",
          "GET https://api.thecarapi.com/api/fuels?buy_now=true"
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "year_from",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "year_to",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "fuel",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "gearbox",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or europe. Accepted and ignored by /api/sites and /load-models. Value comes from: /api/countries -> country_details[].code",
            "schema": {
              "type": "string"
            },
            "example": "DE"
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "site_exclude",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "kilometers_from",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "kilometers_to",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "horsepower_from",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "horsepower_to",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "price_from",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "price_to",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "vehicle_type",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "body_style",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "steering",
            "in": "query",
            "required": false,
            "description": "Restrict to left- or right-hand-drive vehicles. Slower than an unfiltered facet call, because it is computed live rather than read from the precomputed facet table. Value comes from: left | lhd | left-hand | left_hand, or right | rhd | right-hand | right_hand — any other value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "left"
          },
          {
            "name": "damaged",
            "in": "query",
            "required": false,
            "description": "Restrict to damaged or broken vehicles. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "buy_now",
            "in": "query",
            "required": false,
            "description": "Restrict to Buy-Now inventory. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "ending_soon",
            "in": "query",
            "required": false,
            "description": "Restrict to lots ending within about two hours. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "fuels": [
                    "Diesel",
                    "Electric",
                    "Hybrid",
                    "Mild Hybrid",
                    "Petrol",
                    "Plug-in Hybrid"
                  ],
                  "fuel_counts": [
                    {
                      "value": "Diesel",
                      "count": 18342
                    },
                    {
                      "value": "Electric",
                      "count": 903
                    },
                    {
                      "value": "Hybrid",
                      "count": 2211
                    },
                    {
                      "value": "Mild Hybrid",
                      "count": 5107
                    },
                    {
                      "value": "Petrol",
                      "count": 24980
                    },
                    {
                      "value": "Plug-in Hybrid",
                      "count": 1489
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/gearboxes": {
      "get": {
        "operationId": "get_api_gearboxes",
        "summary": "List canonical gearbox groups available in current inventory.",
        "description": "List canonical gearbox groups available in current inventory.\n\nResponse fields — gearboxes (string[]): Canonical gearbox groups present in the filtered inventory. gearbox_counts ({value, count}[]): Mirrors gearboxes in the same order.",
        "tags": [
          "Filter facets"
        ],
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scope": "search",
        "x-examples": [
          "GET https://api.thecarapi.com/api/gearboxes?country=KR",
          "GET https://api.thecarapi.com/api/gearboxes?damaged=true"
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "year_from",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "year_to",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "fuel",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "gearbox",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or europe. Accepted and ignored by /api/sites and /load-models. Value comes from: /api/countries -> country_details[].code",
            "schema": {
              "type": "string"
            },
            "example": "DE"
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "site_exclude",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "kilometers_from",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "kilometers_to",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "horsepower_from",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "horsepower_to",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "price_from",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "price_to",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "vehicle_type",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "body_style",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "steering",
            "in": "query",
            "required": false,
            "description": "Restrict to left- or right-hand-drive vehicles. Slower than an unfiltered facet call, because it is computed live rather than read from the precomputed facet table. Value comes from: left | lhd | left-hand | left_hand, or right | rhd | right-hand | right_hand — any other value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "left"
          },
          {
            "name": "damaged",
            "in": "query",
            "required": false,
            "description": "Restrict to damaged or broken vehicles. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "buy_now",
            "in": "query",
            "required": false,
            "description": "Restrict to Buy-Now inventory. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "ending_soon",
            "in": "query",
            "required": false,
            "description": "Restrict to lots ending within about two hours. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "gearboxes": [
                    "Automatic",
                    "Manual"
                  ],
                  "gearbox_counts": [
                    {
                      "value": "Automatic",
                      "count": 22190
                    },
                    {
                      "value": "Manual",
                      "count": 15432
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/countries": {
      "get": {
        "operationId": "get_api_countries",
        "summary": "List vehicle-location countries and display names.",
        "description": "List vehicle-location countries and display names.\n\ncountry=europe means \"every origin that is not overseas\" and is implemented as an exclusion, not a list: it currently excludes KR (Encar) and JP (the Japanese auction houses), and rows with no recorded country are treated as European and included. If you need strict membership, pass explicit ISO codes instead.\n\nResponse fields — countries (string[]): ISO country codes present in the filtered inventory. country_details ({code, name}[]): The same codes with display names, for rendering a picker. country_counts ({value, count}[]): Keyed by canonical ISO code (UK folds into GB), in the same order as countries.",
        "tags": [
          "Filter facets"
        ],
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scope": "search",
        "x-examples": [
          "GET https://api.thecarapi.com/api/countries?buy_now=true",
          "GET https://api.thecarapi.com/api/countries?damaged=true"
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Name, slug, or brand_id, exactly as on /api/search. Value comes from: /api/brands -> brands[].slug (or id/name)",
            "schema": {
              "type": "string"
            },
            "example": "bmw"
          },
          {
            "name": "year_from",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "year_to",
            "in": "query",
            "required": false,
            "description": "Registration-year range. Accepted and ignored by /api/years itself, which is the dimension they would narrow. Value comes from: /api/years -> years[]",
            "schema": {
              "type": "integer"
            },
            "example": "2018"
          },
          {
            "name": "fuel",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "gearbox",
            "in": "query",
            "required": false,
            "description": "Canonical group, matched whole. Value comes from: /api/fuels -> fuels[], /api/gearboxes -> gearboxes[]",
            "schema": {
              "type": "string"
            },
            "example": "Diesel"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or europe. Accepted and ignored by /api/sites and /load-models. Value comes from: /api/countries -> country_details[].code",
            "schema": {
              "type": "string"
            },
            "example": "DE"
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "site_exclude",
            "in": "query",
            "required": false,
            "description": "Comma-separated source slugs to include or leave out. Value comes from: /api/sites -> sites[].name",
            "schema": {
              "type": "string"
            },
            "example": "openlane"
          },
          {
            "name": "kilometers_from",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "kilometers_to",
            "in": "query",
            "required": false,
            "description": "Mileage range. Value comes from: Mileage bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "horsepower_from",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "horsepower_to",
            "in": "query",
            "required": false,
            "description": "Power range in HP. Value comes from: Power bounds chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "150"
          },
          {
            "name": "price_from",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "price_to",
            "in": "query",
            "required": false,
            "description": "Public EUR price range. price_to=5000 on /api/brands returns each brand count under EUR 5,000. Value comes from: EUR budget chosen by your user.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "vehicle_type",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "body_style",
            "in": "query",
            "required": false,
            "description": "Vehicle-type and body-style filters. Value comes from: As on /api/search.",
            "schema": {
              "type": "string"
            },
            "example": "cars"
          },
          {
            "name": "steering",
            "in": "query",
            "required": false,
            "description": "Restrict to left- or right-hand-drive vehicles. Slower than an unfiltered facet call, because it is computed live rather than read from the precomputed facet table. Value comes from: left | lhd | left-hand | left_hand, or right | rhd | right-hand | right_hand — any other value is a 400.",
            "schema": {
              "type": "string"
            },
            "example": "left"
          },
          {
            "name": "damaged",
            "in": "query",
            "required": false,
            "description": "Restrict to damaged or broken vehicles. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "buy_now",
            "in": "query",
            "required": false,
            "description": "Restrict to Buy-Now inventory. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "ending_soon",
            "in": "query",
            "required": false,
            "description": "Restrict to lots ending within about two hours. Value comes from: Your filter choice.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "countries": [
                    "DE",
                    "JP",
                    "KR",
                    "NL"
                  ],
                  "country_details": [
                    {
                      "code": "DE",
                      "name": "Germany"
                    },
                    {
                      "code": "JP",
                      "name": "Japan"
                    },
                    {
                      "code": "KR",
                      "name": "South Korea"
                    },
                    {
                      "code": "NL",
                      "name": "Netherlands"
                    }
                  ],
                  "country_counts": [
                    {
                      "value": "DE",
                      "count": 9871
                    },
                    {
                      "value": "JP",
                      "count": 14203
                    },
                    {
                      "value": "KR",
                      "count": 8455
                    },
                    {
                      "value": "NL",
                      "count": 3120
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/sites": {
      "get": {
        "operationId": "get_api_sites",
        "summary": "List auction source slugs with live inventory counts.",
        "description": "List auction source slugs with live inventory counts.\n\nThis is the discovery endpoint for both /api/search?site= and /api/auction/{site}/{id}. Counts here respect every other filter on the request but ignore site / site_exclude themselves — a facet that filtered by its own dimension could only ever return the sources you already named. The European classifieds network is retail data, not auction inventory, so it never appears here; it has its own endpoint group.",
        "tags": [
          "Filter facets"
        ],
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "bearerAuth": []
          }
        ],
[...]
